
<div class="panel">
  <h3>材料库详情</h3>
  <div class="panel_contents">
    <div class="attributes_table material" id="attributes_table_material_10">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody><tr class="row row-display_name">
          <th>显示名称</th>
          <td><%=@material.display_name %></td>
        </tr>
        <tr class="row row-name">
          <th>材料名称</th>
          <td><%=@material.name %></td>
        </tr>
        <tr class="row row-color">
          <th>颜色</th>
          <td><input type="color" name="color" id="color" value="<%=@material.color %>"></td>
        </tr>
        <tr class="row row-alpha">
          <th>透明度</th>
          <td><%=@material.alpha %></td>
        </tr>
        <tr class="row row-thumbnail">
          <th>预览图</th>
          <td>
            <% unless @material.thumbnail.file %>
              <span class="empty">无</span>
            <% else %>
              <%=image_tag @material.thumbnail.url(:md) %>
            <% end %>
          </td>
        </tr>
        <tr class="row row-texture">
          <th>贴图文件</th>
          <td>
            <% unless @material.texture.file %>
              <span class="empty">无</span>
            <% else %>
              <%=image_tag @material.texture.url(:md) %>
            <% end %>
          </td>
        </tr>
        <tr class="row row-remark">
          <th>备注</th>
          <td><%=@material.remark %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="返回" onclick="window.location.href='/admin/materials'">
          </td>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>
