<div class="form-horizontal">
  <div class="container mt20 mlr10">
    <div class="row clearfix colxs">
    <div id='form-column' class="col-md-12 column">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 col-xs-3 control-label">选择分类</label>
          <div class="col-sm-10 col-xs-9">
            <div class="input-select">
              <div class="updown">
                <div class="selectbox">请选择</div>
                <div class="dropdown" style="display: none;">
                  <div class="itemcontainer">
                    <% catch(['models_categories', @model_categories]) do%>
                    <%= render partial: "model_category", collection: @model_categories %>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= form_for @model, remote: true do |f| %>
        <%= render "shared/error_messages", target: @model %>
        <input name="model[node_id]" id="model_node_id" type="hidden" value="">
        <div class="form-group">
          <label class="col-sm-2 col-xs-3 control-label">显示名称</label>
          <div class="col-sm-10 col-xs-9">
            <input type="text" class="form-control" name="model[display_name]" id="model_display_name" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 col-xs-3 control-label">模型名称</label>
          <div class="col-sm-10 col-xs-9">
            <input type="text" class="form-control" name="model[name]" id="model_name" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-xs-3 control-label">&emsp;预览图</label>
          <div class="col-sm-10 col-xs-9">
            <div>
              <%= f.file_field :thumbnail,class: 'imgUrl1',onchange: "document.getElementById('model_thumbnail_text').value=this.value" %>
            </div>
            <div class="upload-file">
              <input id="model_thumbnail_text"  type="text" value="选择预览图..." class="imgUrl2">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-xs-3 control-label">模型文件</label>
          <div class="col-sm-10 col-xs-9">
            <div>
              <%= f.file_field :skp,class: 'imgUrl1',onchange: "document.getElementById('model_skp_text').value=this.value" %>
            </div>
            <div class="upload-file">
              <input id="model_skp_text"  type="text" value="选择模型..." class="imgUrl2">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 col-xs-3 control-label">&emsp;&emsp;备注</label>
          <div class="col-sm-10 col-xs-9">
            <textarea name="model[remark]" id="model_remark" class="form-control"></textarea>
          </div>
        </div>

        <div class="btnsub">
          <div class="btn-sub">
            <button type="button" name="" class="btn btn-default">取 消</button>
            <button type="submit" name="commit" class="btn  btn-primary" data-disable-with="正在提交">上 传</button>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>

</div>
<div class="modal fade" tabindex="-1" role="dialog" id="myDialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">
        <p>创建成功......</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <%= link_to('继续上传',new_model_path,class:'btn btn-primary') %>
      </div>
    </div>
  </div>
</div>