<% cache([model]) do %>
		<li>
			<a href="#" title="<%=model.display_name%>" data-id="<%=model.id%>">
				<img src="<%=model.thumbnail.url(:lg)%>" alt="<%=model.display_name%>">
			</a>
			<span style='display:none'></span>
		</li>
<% end %>