<% cache([model_category]) do %>
	<dl>
		<dt ><%= model_category.name %></dt>
		<% model_category.nodes.each do |node| %>
			<dd data-id="<%=node.id%>" style="cursor:pointer">
				<%= node.name%>
			</dd>
		<% end %>
	</dl>
<% end %>
