<% if @model.errors.empty? %>
	$("#myDialog").modal('show');
<% else %>
  $('#form-column .alert').remove();
  $('#form-column').prepend('<%= j render("shared/error_messages", target: @model) %>');
<% end %>
