<% if @models.empty? %>
	$('.ul-img-all .alert').remove();
  $('.ul-img-all').prepend('<%= j render("warning_messages") %>');
  $('.current_scene_models').removeClass('active');
<% else %>
	$(".ul-img-all").empty();
	<% @models.each do |model| %>
    $(".ul-img-all").append("<%= j(render 'model', model: model) %>")
	<% end %>
	$('.ul-img-all li').hover((function() {
	  var txt;
	  txt = $(this).find('img').attr('alt');
	  $(this).find('a').next('span').show().html(txt);
	  $(this).addClass('focusColor');
	}), function() {
	  $(this).find('a').next('span').hide();
	  $(this).removeClass('focusColor');
	});
	$("#models a").each(function(index) {
      $(this).click(function(event) {
        var id = $(this).data('id');
        if (id!=undefined){
          SC.Sketchup.callback("Model.dowload",{id: id});
          return false;
        }else{
          alert("非法链接");
          return false;            
        }
      });
   });
	$('#selectbox-model').text("场景中的模型");
	$('.current_scene_models').addClass('active');
<% end %>
