<% content_for :scripts do %>
<script type="text/javascript">
  $(document).ready(function(){
    $(".current_scene_models").click(function(event) {
      if($(this).is('.active')){
        $(this).removeClass('active');
        SC.Sketchup.callback('Window.last_history');
      }else{
        SC.Sketchup.callback('Model.current_scene_models',{last_history:"<%=request.url%>"});
        return false;
      }
    });
    $("#models a").each(function(index) {
      $(this).click(function(event) {
        var id = $(this).data('id');
        if (id!=undefined){
          SC.Sketchup.callback("Model.dowload",{id: id});
          return false;
        }else{
          alert("非法链接");
          return false;            
        }
      });
    });
  });
</script>
<% end %>

<!-- 模型 -->
<div class="material-model">
  <div class="container mt20">
    <div class="row clearfix">
      <!-- 搜索框 -->
      <div class="col-md-12 pr20">
        <div class="row clearfix">
          <div class="col-md-12">
            <%= form_for('', url: {action: "search"},method: "get") do |f| %>
            <div class="form-group bs-search">
              <% search_class = params[:q] ? 'form-control input-search bs-search-active' : 'form-control input-search' 
              style_class   = params[:q] ? "display: none;" : ''%>
              <%= f.text_field(:q,class: search_class,value: params[:q]) %>
              <span class="bs-placeholder" style="<%= style_class %>">
                <span class="serimg"></span>
                <span>搜索</span>
              </span>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb20 qhline">
        <div class="row marginone">
          <div class="col-md-6 col-sm-6 col-xs-6" data-turbolinks-permanent>
            <div class="updown">
              <div class="selectbox" id="selectbox-model"><%= @node?  @node.name : "全部"  %></div>
              <div class="dropdown" style="display: none;">
                <div class="itemcontainer">
                  <ul class="model-item">
                    <li class="item-title" data-url='/models/all' style="cursor:pointer"><a href='#'>全部</a></li>
                    <% cache ([@model_categories]) do%>
                    <%= render partial: "/model_categories/model_category", collection: @model_categories %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6" data-turbolinks-permanent>
            <ul class="ul-img-select">
              <li>
                <a href="#" title="上一分类" id="pre_model"><span class="pre"></span></a>
              </li>
              <li>
                <a href="#" title="下一分类" id="next_model"><span class="next"></span></a>
              </li>
              <li class="current_scene_models">
                <a href="#" title="收藏"><span class="star"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 中间图片展示 -->
      <div class="col-md-12">
        <ul class="ul-img-all ul-img-all2 ul-img scroll-wrap" id='models'>
          <% cache(['models', @models]) do%>
          <%= render partial: "model", collection: @models %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-img clearfix" data-turbolinks="false">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="img-squared">
            <a href="#" title="小缩略图">
              <div class="small" id="small_mod"></div>
            </a>
            <a href="#" title="大缩略图">
              <div class="big-hover" id="big_mod"></div>
            </a>
          </div>
          <%= paginate @models,:theme=>'sketchup' %>
        </div>
      </div>
    </div>
  </div>
</div>