
<div class="panel">
  <h3>模型库详情</h3>
  <div class="panel_contents">
    <div class="attributes_table model" id="attributes_table_model_5">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody><tr class="row row-display_name">
          <th>显示名称</th>
          <td><%=@model.display_name %></td>
        </tr>
        <tr class="row row-name">
          <th>定义名称</th>
          <td><%=@model.name %></td>
        </tr>
        <tr class="row row-thumbnail">
          <th>预览图</th>
          <td>
            <% unless @model.thumbnail.file %>
              <span class="empty">无</span>
            <% else %>
              <%=image_tag @model.thumbnail.url(:md) %>
            <% end %>
          </td>
        </tr>
        <tr class="row row-skp">
          <th>skp文件</th>
          <td>
            <% unless @model.skp.file %>
              <span class="empty">无</span>
            <% else %>
              <%=@model.skp_url %>
            <% end %>
          </td>
        </tr>
        <tr class="row row-remark">
          <th>备注</th>
          <td><%=@model.remark %></td>
        </tr>
        <tr>
            <td></td>
            <td>
            <input type="submit" value="返回" onclick="window.location.href='/admin/models'">
            </td>
          </tr>
      </tbody></table>
    </div>
  </div>
</div>
         