<div class="panel">
  <h3>子分类详情</h3>
  <div class="panel_contents">
    <div class="attributes_table node" id="attributes_table_node_123">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr class="row row-name">
          <th>名称</th>
          <td><%=@node.name %></td>
        </tr>
        <tr class="row row-sort">
          <th>排序</th>
          <td><%=@node.sort %></td>
        </tr>
        <tr class="row row-material_category_id">
          <th>材料分类</th>
          <td>
            <% unless @node.material_category %>
              <span class="empty">无</span>
            <% else %>
                <%= @node.material_category.name %>
            <% end %>
          </td>
        </tr>
        <tr class="row row-model_category_id">
          <th>模型分类</th>

          <td>
            <% unless @node.model_category %>
              <span class="empty">无</span>
            <% else %>
                <%= @node.model_category.name %>
            <% end %>
          </td>
        </tr>
          <tr>
            <td></td>
            <td>
            <input type="submit" value="返回" onclick="window.location.href='/admin/nodes'">
            </td>
          </tr>
      </tbody></table>
    </div>
  </div>
</div>