
<div class="panel">
  <h3>材质分类详情</h3>
  <div class="panel_contents">
    <div class="attributes_table material_category" id="attributes_table_material_category_12">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr class="row row-name">
          <th>名称</th>
          <td><%=@material_category.name  %></td>
        </tr>
        <tr class="row row-sort">
          <th>排序</th>
          <td><%=@material_category.sort  %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="返回" onclick="window.location.href='/admin/material_categories'">
          </td>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>
