upstream <%= fetch(:application_name) %> {
  server unix:<%= "#{fetch(:deploy_to)}" %>/shared/tmp/sockets/puma.sock fail_timeout=0;
}

server {
  listen 80 default_server;
  root <%= "#{fetch(:deploy_to)}/current" %>/public;
  server_name su.simcity100.com;
  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  location /nginx_status {
    allow 127.0.0.1;
    deny all;
    stub_status on;
  }


  try_files $uri/index.html $uri @<%= fetch(:application_name) %>;
  location @<%= fetch(:application_name) %> {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://<%= fetch(:application_name) %>;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;
}