workers 4

threads 8, 16

preload_app!

daemonize true

rackup      DefaultRackup
environment ENV["RAILS_ENV"] || "production"

bind "unix:<%= "#{fetch(:deploy_to)}"%>/shared/tmp/sockets/puma.sock"
pidfile "<%= "#{fetch(:deploy_to)}"%>/shared/tmp/pids/puma.pid"
state_path "<%= "#{fetch(:deploy_to)}"%>/shared/tmp/sockets/puma.state"

stdout_redirect "<%= "#{fetch(:deploy_to)}"%>/shared/log/puma.stdout.log", "<%= "#{fetch(:deploy_to)}" %>/shared/log/puma.stderr.log", true
activate_control_app "unix:<%= "#{fetch(:deploy_to)}" %>/shared/tmp/sockets/pumactl.sock", { no_token: true }

on_worker_boot do
  require "active_record"
  ActiveRecord::Base.connection.disconnect! rescue ActiveRecord::ConnectionNotEstablished
  ActiveRecord::Base.establish_connection
end