
<div class="panel">
  <h3>模型分类详情</h3>
  <div class="panel_contents">
    <div class="attributes_table model_category" id="attributes_table_model_category_22">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr class="row row-name">
          <th>名称</th>
          <td><%=@model_category.name  %></td>
        </tr>
        <tr class="row row-sort">
          <th>排序</th>
          <td><%=model_category.sort  %></td>
        </tr>
         <tr>
          <td></td>
          <td>
          <input type="submit" value="返回" onclick="window.location.href='/admin/model_categories'">
          </td>
         </tr>
      </tbody></table>
    </div>
  </div>
</div>
