@charset "utf-8";
body {
    background-color: #ebebeb;
    min-width: 300px;
    font: 12px/150% Arial,Verdana,"\5FAE\8F6F\96C5\9ED1","\5b8b\4f53";
    height: 100%;
    overflow: hidden;
}

html,
body {
    height: 100%;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0;
}

.material-model {
    overflow: hidden;
}

.mt20 {
    margin-top: 10px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 1px;
}

.mlr10 {
    padding-right: 10px;
    padding-left: 10px;
}

.hidde {
    display: none;
}

.mb20 {
    margin-bottom: 10px;
}

.pl15 {
    padding-left: 0;
}

.pr15 {
    padding-right: 0;
}

.pl10 {
    padding-left: 10px;
}
.pl1r {
     padding-right: 10px;
}
.pr20 {
     padding-right: 20px;
}
.qhline {
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #cbcbcb;
}

.marginone {
    margin: 0;
}

.head {
    width: 100%;
    height: 61px;
    padding-top: 7px;
    background: image_url('head.png') repeat-x;
    box-sizing: border-box;
}

.bs-search {
    position: relative;
    margin-bottom: 10px;
}

.bs-search-active {
    background: #fff image_url('search.png') no-repeat 10px center;
    text-indent: 20px;
    border-radius: 4px;
}

.serimg {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: image_url('search.png') no-repeat center;
    vertical-align: middle;
    background-size: 14px 14px;
    margin-right: 5px;
}

.bs-placeholder {
    line-height: 32px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 32px;
    text-align: center;
    color: #999;
    border: 0;
    border-radius: 6px;
    background: 0 0;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-img {
    width: 150px;
    overflow: hidden;
}

.nav-img li {
    width: 55px;
    height: 54px;
    padding-top: 12px;
    text-align: center;
    float: left;
    position: relative;
    cursor: pointer;
}

.nav-img .active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: image_url('head-tab.png');
}

.nav-img li span {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.nav-img li .figure {
    background: image_url('figure.png') no-repeat center;
}

.nav-img li.active .figure {
    background: image_url('figure-hover.png') no-repeat center;
}

.nav-img li .model {
    background: image_url('model.png') no-repeat center;
}

.nav-img li.active .model {
    background: image_url('model-hover.png') no-repeat center;
}

.setimg {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: right;
    background: image_url('set.png') no-repeat center;
}

.form-control {
    border: 1px solid #cbcbcb;
    border-radius: 6px;
    box-shadow: none;
}

.setimg:hover {
    background: image_url('set-hover.png') no-repeat center;
}

.updown {
    width: 100%;
    height: 32px;
    position: relative;
    background: #fff;
    border: 1px solid #cbcbcb;
    box-sizing: border-box;
    border-radius: 6px;
}

.updown .selectbox {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: left;
    line-height: 32px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 13px;
    color: #191919;
}

.updown .selectbox::after {
    content: ' ';
    position: absolute;
    right: 0px;
    height: 100%;
    line-height: 34px;
    padding: 0px 8px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image_url('down.png');
}

.updown .selectbox.open::after {
    content: ' ';
    background-color: #3083fb;
    background-image: image_url('up.png');
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.updown .dropdown {
    position: absolute;
    width: 100%;
    top: 33px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    background-color: white;
    z-index: 100;
    box-sizing: border-box;
    max-height: 380px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.flag {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.updown .itemcontainer {
    padding: 0;
}

.updown .itemcontainer > dl dt {
    padding: 5px 10px 0;
    color: #000;
    font-weight: normal;
    font-size: 14px;
}

.updown .itemcontainer > dl dd {
    padding: 5px 20px 0;
}

.updown .itemcontainer > dl dt:hover {
    background-color: #3083fb;
    color: white;
}

.updown .itemcontainer > dl dd:hover {
    background-color: #3083fb;
    color: white;
}

.updown .itemcontainer > ul li {
    padding: 5px 20px 0;
}

.updown .itemcontainer > ul li.item-title {
    padding: 5px 10px 0;
    font-weight: 700;
}

.updown .itemcontainer > ul li:hover {
    background-color: #3083fb;
    color: white;
}

ul.ul-select {
    width: 100%;
    height: 32px;
    border-radius: 5px;
}

ul.ul-select li {
    width: 50%;
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #cbcbcb;
    box-sizing: border-box;
}

ul.ul-select li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

ul.ul-select li:last-child {
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.ul-select li.active {
    border: 1px solid #3083fb;
    background: #3083fb;
    color: #fff;
}

ul.ul-select li {
    cursor: pointer;
}

ul.ul-img-select {
    width: 150px;
    height: 32px;
    float: right;
}

ul.ul-img-select li {
    width: 33.333%;
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
}

ul.ul-img-select li span {
    width: 24px;
    height: 24px;
    padding: 16px;
    display: inline-block;
}

ul.ul-img-select li .pre {
    background: image_url('pre.png') no-repeat center;
}

ul.ul-img-select li.active .pre {
    background: image_url('pre-hover.png') no-repeat center;
}

ul.ul-img-select li .pre:hover {
    background: image_url('pre-hover.png') no-repeat center;
}

ul.ul-img-select li .next {
    background: image_url('next.png') no-repeat center;
}

ul.ul-img-select li .next:hover {
    background: image_url('next-hover.png') no-repeat center;
}

ul.ul-img-select li.active .next {
    background: image_url('next-hover.png') no-repeat center;
}

ul.ul-img-select li .star {
    background: image_url('star.png') no-repeat center;
}

ul.ul-img-select li .star:hover {
    background: image_url('star-hover.png') no-repeat center;
}

ul.ul-img-select li.active .star {
    background: image_url('star-hover.png') no-repeat center;
}

.ul-img-all {
    height: 525px;
    /*   overflow-y: auto; */
    /*  margin-bottom:41px; */
    /*   padding-bottom: 80px; */
}

.ul-imgg {
    height: 525px;
    /* overflow-y: auto; */
    /*  margin-bottom:41px; */
    /*   padding-bottom: 80px; */
}

.ul-switch {
    /* overflow-y: auto; */
}

.ul-img-all li {
    position: relative;
    float: left;
    cursor: pointer;
    padding: 1px;
    box-sizing: border-box;
    overflow: hidden;
}

.ul-img-all li.focusColor {
    border: 1px solid #3083fb;
}

.ul-img-all li a {
    cursor: pointer;
}

.ul-img-all li img {
    width: 100%;
}

.ul-img-all li div {
    width: 100%;
}


.ul-img li {
    width: 33.33333333333%;
}

.ul-imgg li {
    width: 33.33333333333%;
}

.ul-switch li {
    width: 50%;
}

.ul-img-all li span {
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 12px;
    overflow:hidden;;
    text-overflow:ellipsis;;
    white-space:nowrap;
}

.h31 {
    width: 100%;
    height: 31px;
}

.footer-img {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 31px;
    line-height: 31px;
    background: image_url('footer.png') repeat-x;
    margin-top: 10px;
    z-index: 100;
}

.img-squared {
    float: left;
    height: 31px;
    line-height: 31px;
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.img-squared .small {
    float: left;
    width: 15px;
    height: 15px;
    background: image_url('small.png') no-repeat center;
    margin-right: 10px;
}

.img-squared .small-hover {
    float: left;
    width: 15px;
    height: 15px;
    background: image_url('small-hover.png') no-repeat center;
    margin-right: 10px;
}

.img-squared .big {
    float: left;
    width: 15px;
    height: 15px;
    background: image_url('big.png') no-repeat center;
}

.img-squared .big-hover {
    float: left;
    width: 15px;
    height: 15px;
    background: image_url('big-hover.png') no-repeat center;
}

.c_pagination {
    float: right;
    height: 31px;
    line-height: 31px;
    display: flex;
    align-items: center;
}

.c_pagination .text {
    margin-right: 6px;
}

.c_pagination .text .prev-text {
    color: #3083fb;
}

.c_pagination .prev {
    float: left;
    width: 22px;
    height: 22px;
    background: image_url('prev-page.png') no-repeat center;
    margin-right: 6px;
}

.c_pagination .prev:hover {
    background: image_url('prev-page-hover.png') no-repeat center;
}

.c_pagination .prev-hover {
    float: left;
    width: 22px;
    height: 22px;
    background: image_url('prev-page-hover.png') no-repeat center;
    margin-right: 6px;
}

.c_pagination .next {
    float: left;
    width: 22px;
    height: 22px;
    background: image_url('next-page.png') no-repeat center;
}

.c_pagination .next:hover {
    background: image_url('next-page-hover.png') no-repeat center;
}

.c_pagination .next-hover {
    float: left;
    width: 22px;
    height: 22px;
    background: image_url('next-page-hover.png') no-repeat center;
}

.c_pagination ul {
    overflow: hidden;
}

.c_pagination ul li {
    float: left;
}

.c_pagination ul li.active .prev {
    background: image_url('prev-page-hover.png') no-repeat center;
}

.c_pagination ul li.active .next {
    background: image_url('next-page-hover.png') no-repeat center;
}


/* 上传模型 */

.btnsub {
    width: 100%;
    padding: 40px 0;
    border-top: 1px solid #d9d9d9;
    margin-top: 10px;
}

.btn-sub {
    color: #fff;
    position: absolute;
    float: right;
    right: 20px;
}

.btn-primary{
    background: #3083fb;
    border-color:#3083fb;
    -webkit-box-shadow:none;
}
.btn-primary:hover{
    background: #0c75ed;
    border-color: #0c75ed;

}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{
    background: #0c75ed;
    border-color: #0c75ed;
}
.btn-default{
    background: #fff;
    -webkit-box-shadow:none;
}


.textceter {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #acacac;
    font-size: 13px;
    background: image_url('footer.png') repeat-x;
    z-index: 111;
}

.upload-file {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background: #fff image_url('upload.png') no-repeat 10px center;
    text-indent: 20px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#imgUrl1 {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
}

#imgUrl2 {
    background-color: #fff;
    color: #191919;
    width: 95%;
}

.imgUrl1 {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    height: 100%;
    width: 100%;
}

.imgUrl2 {
    background-color: #fff;
    color: #191919;
    width: 95%;
}

.colorblue {
    width: 92%;
    color: #5192fb;
}

.imgright {
    position: absolute;
    right: 20px;
    top: 12px;
}

.form-horizontal {
    margin-bottom: 31px;
}


/* 管理后台 */

.line {
    width: 100%;
    padding-top: 15px;
    border-bottom: 1px solid #bcbcbc;
    border-top: 1px solid #bcbcbc;
}

.nav-img-back {
    width: 150px;
    overflow: hidden;
}

.nav-img-back li {
    width: 60px;
    height: 60px;
    text-align: center;
    float: left;
    position: relative;
}

.nav-img-back li a {
    color: #a2a2a2;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.nav-img-back .active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(198, 198, 198, 0.6);
}

.nav-img-back .active a {
    color: #515151;
}

.nav-img-back li img {
    width: 23px;
    height: 24px;
    margin: 5px 0;
}

.nav-img-back li h2 {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    margin: 0;
}

.conwrap .col-md-4 {
    background: #fff;
}

.conwrap .col-md-8 {
    background: #fff;
}



.back_ul {
    height: 400px;
    background: #fff;
    box-sizing: border-box;
    overflow-y: scroll;
}

.back_ul::-webkit-scrollbar-track {
    background-color: #fff;
}

.back_ul::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.back_ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #818181;
}


.back_ul .itemcontainer {
    padding: 0;
}

.back_ul .itemcontainer > dl dt {
    padding: 5px 10px 0;
    font-weight: normal;
    color: #000000;
}

.back_ul .itemcontainer > dl dd {
    padding: 5px 20px 0;
    color: #8d8d8d;
}

.back_ul .itemcontainer > dl dt:hover {
    background-color: #3083fb;
    color: white;
}

.back_ul .itemcontainer > dl dd:hover {
    background-color: #3083fb;
    color: white;
}

.back-img-all {
    height: 400px;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.back-img-scroll {
    padding: 10px;
    padding-bottom: 0;
    height: 340px;
    overflow-y: scroll;
}

.back-img-scroll::-webkit-scrollbar-track {
    background-color: #fff;
}

.back-img-scroll::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.back-img-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #818181;
}



.back-img-all .back-img-scroll>ul li {
    width: 20%;
    float: left;
    padding: 1px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.back-img-all li.focusColor {
    border: 1px solid #3083fb;
}

.back-img-all ul li img {
    width: 100%;
}

.back-img-all li span {
    position: absolute;
    width: 90%;
    height: 30px;
    line-height: 30px;
    display: block;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.file-img-all {
    width: 100%;
    height: 50px;
    overflow: hidden;
    border-top: 1px solid #dbdbdb;
    margin-top: 10px;
    padding:10px;
}

.file-img-con {
    width: 150px;
    height: 30px;
    line-height: 30px;
    background: #3083fb;
    color: #fff;
    border-radius: 6px;
    overflow:hidden;
    float:left;
}

.upload-back-file {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background: #3083fb image_url('upload2.png') no-repeat 10px center;
    text-indent: 20px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.back-imgUrl1 {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
}

.back-imgUrl2 {
    color: #fff;
    width: 100px;
    background-color: #3083fb;
}

.conwrap {
    margin: 10px auto 50px;
}

label {
    font-weight: normal;
    color: #191919;
}

#cp2 input {
    color: #191919;
}

.colxs label {
    text-align: left;
    cursor: pointer;
}

.colorselect {
    background: #ae7b00;
    cursor: pointer;
}

.colorselect2 {
    background: #ffffff;
    cursor: pointer;
}

.colorselect3 {
    background: #ffffff;
    cursor: pointer;
}

.colorselect2:hover {
    background: #ebebeb;
}

.colorselect3:hover {
    background: #ebebeb;
}

.inputvalue {
    text-align: center;
    color: #191919;
}

textarea.form-control {
    resize: vertical;
}


/* 滚动内容区 */

.scroll-wrap {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}

.scroll-wrap::-webkit-scrollbar-track {
    background-color: #ebebeb;
}

.scroll-wrap::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.scroll-wrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #818181;
}

.form-horizontal .updown .dropdown {
    max-height: 285px;
}

.form-horizontal .form-group {
    margin-bottom: 10px;
}

.btnsub .btn-primary:focus {
    border: none;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #cbcbcb;
}


.back-page {
    float: right;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.back-page .text {
    margin-right: 5px;
}

.back-page .text .pre-text {
    color: #3083fb;
}

.back-page .pre {
    float: left;
    width: 30px;
    height: 30px;
    background: image_url('back-pre.png') no-repeat center;
    margin-right: 5px;
}

.back-page .pre:hover {
    background: image_url('back-pre-hover.png') no-repeat center;
}

.back-page .pre-hover {
    float: left;
    width: 30px;
    height: 30px;
    background: image_url('back-pre-hover.png') no-repeat center;
    margin-right: 6px;
}

.back-page .next {
    float: left;
    width: 30px;
    height: 30px;
    background: image_url('back-next.png') no-repeat center;
}

.back-page .next:hover {
    background: image_url('back-next-hover.png') no-repeat center;
}

.back-page .next-hover {
    float: left;
    width: 30px;
    height: 30px;
    background: image_url('back-next-hover.png') no-repeat center;
}

.back-page ul {
    overflow: hidden;
}

.back-page ul li {
    float: left;
}

.back-page ul li.active .pre {
    background: image_url('back-pre-hover.png') no-repeat center;
}

.back-page ul li.active .next {
    background: image_url('back-next-hover.png') no-repeat center;
}




@media (max-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 5px;
        margin-bottom: 0;
        text-align: left;
        padding-right: 0;
        font-weight: normal;
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}

@media (max-width: 768px) {
    .col-sm-7 .back-img-all>ul li {
        width: 25%;
    }
}
