<% cache([model_category]) do %>
	<li style="cursor:pointer" data-url="<%=node_category_models_path(model_category)%>" class="item-title"><%= model_category.name %></li>
	<% model_category.nodes.each do |node| %>
		<li  data-url="<%= node_models_path(node)  %>" style="cursor:pointer">
			<%= node.name %> 
		</li>
	<% end %>
<% end %>