<div class="form-horizontal">
  <div class="container mt20 mlr10">
    <div class="row clearfix colxs">
    <div id='form-column' class="col-md-12 column">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 col-xs-3 control-label">选择分类</label>
          <div class="col-sm-10 col-xs-9">
            <div class="input-select">
              <div class="updown">
                <div class="selectbox">请选择</div>
                <div class="dropdown" style="display: none;">
                  <div class="itemcontainer">
                    <% catch(['materials_categories', @material_categories]) do%>
                    <%= render partial: "material_category", collection: @material_categories %>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= form_for @material, remote: true do |f| %>
        <%= render "shared/error_messages", target: @material %>
        <input name="material[node_id]" id="material_node_id" type="hidden" value="">
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 col-xs-3 control-label">显示名称</label>
          <div class="col-sm-10 col-xs-9">
            <input type="text" class="form-control" name="material[display_name]" id="material_display_name" />
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 col-xs-3 control-label">材料名称</label>
          <div class="col-sm-10 col-xs-9">
            <input type="text" class="form-control" name="material[name]" id="material_name" />
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 col-xs-3 control-label">&emsp;预览图</label>
          <div class="col-sm-10 col-xs-9">
            <div>
               <%= f.file_field :thumbnail,class: 'imgUrl1',onchange: "document.getElementById('material_thumbnail_text').value=this.value" %>
            </div>
            <div class="upload-file">
              <input id="material_thumbnail_text"  type="text" value="选择预览图..." class="imgUrl2">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 col-xs-3 control-label">贴图文件</label>
          <div class="col-sm-10 col-xs-9">
            <div>
              <%= f.file_field :texture,class: 'imgUrl1',onchange: "document.getElementById('material_texture_text').value=this.value" %>
            </div>
            <div class="upload-file">
              <input id="material_texture_text"  type="text" value="选择贴图..." class="imgUrl2">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 col-xs-3 control-label">&emsp;颜色值</label>
          <div class="col-sm-10 col-xs-9">
            <div class="input-group" id="cp2">
              <input type="text" class="form-control" name="material[color]" id="material_color" placeholder="" value="#ae7b00">
              <span class="input-group-addon colorselect"><img src=<%= image_url('kong.png')%>  alt=""></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 col-xs-3 control-label">&emsp;透明度</label>
          <div class="col-sm-10 col-xs-9">
            <div class="input-group">
              <span class="input-group-addon colorselect2"><img src=<%= image_url('minus.png')%>  alt=""></span>
              <input type="text" class="form-control inputvalue" name="material[alpha]" id="material_alpha" value="100">
              <span class="input-group-addon colorselect3"><img src=<%= image_url('plus.png')%>  alt=""></span>
            </div>
          </div>
        </div>



        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 col-xs-3 control-label">&emsp;&emsp;备注</label>
          <div class="col-sm-10 col-xs-9">
            <textarea name="material[remark]" id="material_remark" class="form-control"></textarea>
          </div>
        </div>

        <div class="btnsub">
          <div class="btn-sub">
            <button type="button" name="" class="btn btn-default">取 消</button>
            <button type="submit" name="commit" class="btn  btn-primary" data-disable-with="正在提交">上 传</button>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>

</div>
<div class="modal fade" tabindex="-1" role="dialog" id="myDialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">
        <p>创建成功......</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <%= link_to('继续上传',new_material_path,class:'btn btn-primary') %>
      </div>
    </div>
  </div>
</div>