<% cache([material_category]) do %>
	<dl>
		<dt><%= material_category.name %></dt>
		<% material_category.nodes.each do |node| %>
			<dd data-id="<%=node.id%>" style="cursor:pointer">
				<%= node.name%>
			</dd>
		<% end %>
	</dl>
<% end %>
