<% cache([material]) do %>
	<li>
		<a href="#" title="<%=material.display_name%>" data-id="<%=material.id%>" >
			<% 
				if material.thumbnail.class == Hashie::Mash
					url = material.thumbnail['url']
				else
					url = material.thumbnail_url
				end
			%>
			<% unless url %>
			<img src="<%=image_url('color_img.png')%>"" alt="<%=material.display_name%>" style="background-color: <%=material.color%>;" >
			<%else%>
				<img src="<%=material.thumbnail.url(:lg)%>" alt="<%=material.display_name%>">
			<%end%>
		</a>
		<span style='display:none'></span>
	</li>
<% end %>