<% if @materials.empty? %>
	$('.ul-img-all .alert').remove();
  $('.ul-img-all').prepend("<%= j render('warning_messages') %>");
  $('.current_scene_materials').removeClass('active');
<% else %>
	$(".ul-img-all").empty();
	<% @materials.each do |material| %>
    $(".ul-img-all").append("<%= j(render 'material', material: material) %>")
	<% end %>
	$('.ul-img-all li').hover((function() {
	  var txt;
	  txt = $(this).find('img').attr('alt');
	  $(this).find('a').next('span').show().html(txt);
	  $(this).addClass('focusColor');
	}), function() {
	  $(this).find('a').next('span').hide();
	  $(this).removeClass('focusColor');
	});
	$("#materials a").each(function(index) {
    $(this).click(function(event) {
      var id = $(this).data('id');
      if (id!=undefined){
        SC.Sketchup.callback("Material.dowload",{id: id});
        return false;
      }else{
        alert("非法链接");    
        return false;        
      }
    });
  });

	$('#selectbox-material').text("场景中的材质");
	$('.current_scene_materials').addClass('active');
<% end %>
