<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".current_scene_materials").click(function(event) {
        if($(this).is('.active')){
          $(this).removeClass('active');
          SC.Sketchup.callback('Window.last_history');
        }else{
          SC.Sketchup.callback('Material.current_scene_materials',{last_history:"<%=request.url%>"});
        }
        return false;
      });
      $("#materials a").each(function(index) {
        $(this).click(function(event) {
          var id = $(this).data('id');
          if (id!=undefined){
            SC.Sketchup.callback("Material.dowload",{id: id});
            return false;
          }else{
            alert("非法链接");    
            return false;        
          }
        });
      });
    });
  </script>
<% end %>
<!-- 材质 -->
<div class="material-model">
  <div class="container mt20 ">
    <div class="row clearfix">
      <!-- 搜索框 -->
      <div class="col-md-12 pr20">
        <div class="row clearfix">
          <div class="col-md-12">
            <%= form_for('', url: {action: "search"},method: "get") do |f| %>
              <div class="form-group bs-search" >
                  <% search_class = params[:q] ? 'form-control input-search bs-search-active' : 'form-control input-search' 
                    style_class   = params[:q] ? "display: none;" : ''%>
                  <%= f.text_field(:q,class: search_class,value: params[:q]) %>
                  <span class="bs-placeholder" style="<%= style_class %>">
                    <span class="serimg"  ></span>
                    <span>搜索</span>
                  </span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb20 qhline">
        <div class="row marginone">
          <div class="col-md-6 col-sm-6 col-xs-6" data-turbolinks-permanent>
            <div class="updown">
              <div class="selectbox" id="selectbox-material"><%= @node?  @node.name : "全部"  %></div>
              <div class="dropdown" style="display: none;">
                <div class="itemcontainer" >
                  <ul class="material-item">
                    <li class="item-title" data-url='/materials/all' style="cursor:pointer"><a href='#'>全部</a></li>
                    <% cache ([@material_categories]) do%>
                      <%= render partial: "/material_categories/material_category", collection: @material_categories %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6" data-turbolinks-permanent>
            <ul class="ul-img-select">
              <li>
                <a href="#" title="上一使用过的分类" id="pre_material"><span class="pre" ></span></a>
              </li>
              <li>
                <a href="#" title="下一使用过的分类" id="next_material"><span class="next" ></span></a>
              </li>
              <li class="current_scene_materials">
                <a href="#" title="当前场景使用的材质"><span class="star"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 中间图片展示 -->
      <div class="col-md-12">
        <ul class="ul-img-all ul-img-all1 ul-img scroll-wrap" id='materials'>
          <% cache(['materials', @materials]) do%>
            <%= render partial: "material", collection: @materials %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-img clearfix" data-turbolinks="false">
    <div class="container">
      <div class="row">
        <div class="col-md-12" >
          <div class="img-squared">
            <a href="#" title="小缩略图">
              <div class="small" id="small_mat"></div>
            </a>
            <a href="#" title="大缩略图">
              <div class="big-hover" id="big_mat"></div>
            </a>
          </div>
          <%= paginate @materials,:theme=>'sketchup'  %>
        </div>
      </div>
    </div>
  </div>
</div>


