<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      $('#cp2').colorpicker();
      $('.btn.btn-default').click(function(event) {
      	SC.Sketchup.callback("Window.close");
      });
      $(".dropdown").find('dt,dd').click(function(event) {
        var nodeId = $(this).data("id");
        if(nodeId==undefined){
          alert('请选择子分类!');
        }else{
          $(".flag").removeClass('hide');
          $(".selectbox").html($(this).text());
          $(".dropdown").slideUp();
          $(".selectbox").removeClass('open');
          $('.form-horizontal input[name="material[node_id]"]').val(nodeId);
        }
        return false;
    	});
    });
  </script>
<% end %>
<div class="flag hide"></div>
<%= render 'form' %>


