<% cache([material_category]) do %>
	<li style="cursor:pointer" data-url="<%=node_category_materials_path(material_category)%>" class="item-title"><%= material_category.name %></li>
	<% material_category.nodes.each do |node| %>
		<li  data-url="<%= node_materials_path(node)  %>" style="cursor:pointer">
			<%= node.name %> 
		</li>
	<% end %>
<% end %>