<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name=“renderer” content=“webkit”>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SC100</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application','data-turbolinks-track': 'reload'%>
</head>
<body>

  <div class="head">
      <div class="container">
          <div class="row clearfix">
              <!-- 导航栏 切换-->
              <div class="col-md-12">
                  <div class="row clearfix">
                      <div class="col-md-8 col-sm-8 col-xs-8">
                          <ul class="nav-img">
                          		<%= render_list_items do |li|
                          			li<<link_to(materials_path,title: '材质') do
                          				content_tag(:span,'',class:'figure')
                          			end
                          			li<<link_to(models_path,title: '模型') do
                          				content_tag(:span,'',class:'model')
                          			end
                          		end%>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
   <div class="flag hide"></div>
	<%= yield %>
  <%= yield :scripts %>
	<script type="text/javascript">
	  $(function() {
	    var h = $("html,body").height() - 210;
	    $(".scroll-wrap").height(h);
	  })
  </script>
</body>
</html>