<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name=“renderer” content=“webkit”>
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SC100</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application','data-turbolinks-track': 'reload'%>
</head>
<body>
	<%= yield %>
	<%= yield :scripts %>
    <div class="textceter"  data-turbolinks-permanent>
        SC100-v1.0.0
    </div>
</body>
</html>